.hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.tiro-bangla {
  font-family: "Tiro Bangla", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.none {
  display: none;
}
.active {
  background-color: #422ad5;
  color: white;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideLeft {
  animation: slideLeft 1s ease-out forwards;
}

.animate-slideRight {
  animation: slideRight 1s ease-out forwards;
}
